/* Farben */
$os-white: #fefefe;
$os-black: #222226;
$os-darkblack: #121214;
$os-lightgrey: #dadada;
$os-grey: #e8e8e8;
$os-mediumgrey: #d0d0d1;
$os-darkgrey: #c9c9ca;
$os-red: #ff0040;

/* Fontstacks */
$os-sans: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Trebuchet MS, sans-serif;
$os-serif: "ITC Officina Serif", Georgia;

/* Größen */
$nav-head: 1.4em;