/* Farben */
$os-white: #fefefe;
$os-black: #222226;
$os-darkblack: #121214;
$os-blacktransparent: rgba(25, 25, 28, .9);
$os-lightgrey: #efefef;
$os-grey: #e8e8e8;
$os-mediumgrey: #d0d0d1;
$os-darkgrey: #838385;
$os-red: #ff0040;
$os-darkred:  #cc0033;
$os-blue: #009cff;
/* Fontstacks */
$os-sans: "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Trebuchet MS, sans-serif;
$os-serif: "ITC Officina Serif", Georgia;

/* Größen */
$nav-head: 1.4em;