.flash{
	z-index: 3;
	width: 100%;
	margin:0;
	padding:0;
	position: fixed;
	bottom: 0;
	left:0;
	list-style: none;
	li{
		color: $os-white;
		width: 97%;
		background-color: $os-blue;
		margin: 0;
		min-height: 31px;
		padding: 8px 1.5%;
	}
	.loaded-saved {
		background-color: $os-blue;
		button {
			background-color: $os-white;
			color: $os-black;
		}
	}
	.error{
		background-color: $os-red;
		color: $os-red;
		button {
			color: $os-black;
		}
	}
	button{
		height: 31px;
		line-height: 31px;
		float: right;
		padding: 0 10px;
		margin: 0;
		color: $os-black;
		background-color: $os-white;
	}
}