/* Global Styles */
body {
	color: $os-black;
	background-color: $os-lightgrey;
	overflow-y: scroll;
	position:absolute;
	width:100%;
	padding:47px 0;
}
html {
	font-family: $os-sans;
}
.headline{
	font-family:$os-serif;
	font-size: $nav-head;
	font-weight:normal;
	padding-left: 15.125%;
	margin:0;
}
button{
	margin:0;
	font-weight:bold;
	text-transform:uppercase;
	font-size: .7em;
	border:none;
	color: $os-white;
	background-color: $os-black;
	padding: 10px 20px;
	@include rounded( 5px);
	&:hover{
		background-color:$os-black;
	}
	&:active{
		background-color:$os-black;
	}
}
form{
	background-color: $os-white;
fieldset{
		margin: 1em 3% 1em 15.125%;
	}
	button, label, input, input[type="text"], input[type="date"], textarea{
		display:block;
		width: 96.46539%;
	}
	input[type="text"], input[type="date"], input, textarea{
		padding: 8px;
		background-color: $os-lightgrey;
		border:none;
		// @include insetshadow( 1px, 2px);
	}
	label {
		font-size: .9em;
	}
	.btn-login{
		background-color: $os-blue;
		&:hover{
			background-color: $os-black;
		}
		&:active{
			background-color: $os-black;
		}
	}
}