/* Global Styles */
body {
	color: $os-black;
	background-color: $os-lightgrey;
	overflow-y: scroll;
	position:absolute;
	width:100%;
	padding:47px 0;
}
html {
	font-family: $os-sans;
}
.headline{
	font-family:$os-serif;
	font-size: $nav-head;
	font-weight:normal;
	padding-left: 15.125%;
	margin:0;
}
button{
	margin:0;
	font-weight:bold;
	text-transform:uppercase;
	font-size: .7em;
	border:none;
	color: $os-white;
	background-color: $os-black;
	padding: 10px 20px;
	@include rounded( 5px);
	&:hover{
		background-color:$os-black;
	}
	&:active{
		background-color:$os-black;
	}
}
