.brand {
	padding: 1em 0 1em 15.125%;
	margin:0;
	margin-top: -47px;
	background-color: $os-white;
	h1 {
		font-family: $os-serif;
		font-size: $nav-head;
		font-weight: normal;
		color: $os-red;
		margin: 0;
	}
	border-bottom: 1px solid $os-lightgrey;
}
.login-form, .register-form{
	background-color: $os-white;
	fieldset{
		margin: 1em 3% 1em 15.125%;
	}
	button, label, input, input[type="text"], input[type="date"], textarea{
		display:block;
		width: 96.46539%;
	}
	input[type="text"], input[type="date"], input, textarea{
		padding: 8px;
		background-color: $os-lightgrey;
		border:none;
		// @include insetshadow( 1px, 2px);
	}
	label {
		font-size: .9em;
	}
	.btn-login, .btn-register{
		background-color: $os-blue;
		&:hover{
			background-color: $os-black;
		}
		&:active{
			background-color: $os-black;
		}
	}
	a{
		display: block;
		color: $os-darkgrey;
		margin-left:15.125%;
	}
	padding: 2em 0;
}