/* Navbar General*/
.nav-bar{
	width:100%;
	height: 47px;
	@include shadow (1px, 1px);
	* {	
		padding: 8px 0;
		cursor: pointer;
		img{
			margin-top: -8px;
			display:block;
			height: 31px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	.button-left{
		border-right: 1px solid $os-mediumgrey;
		text-align:center;
		display: block;
		float:left;
		height: 31px;
		width: 9.125%;
		padding-left: 3%;
		padding-right: 1.5%;
	}
	.button-center{
		font-family: $os-sans;
		font-size: $nav-head;
		text-decoration:none;
		display: block;
		float: left;
		height:31px;
		line-height: 31px;
		padding-left: 1.5%;
		padding-right: 1.5%;
		//width: 69.75%;

	}
	.button-right{
		border-left: 1px solid $os-mediumgrey;
		text-align:center;
		display: block;
		float: right;
		height: 31px;
		width: 9.125%;
		padding-right: 3%;
		padding-left: 1.5%;
	}
}

/* Tool Nav */
.tool-nav{
	position:fixed;
	top:47px;
	//border-top: 1px solid $os-mediumgrey;
	background-color: $os-white;
	color: $os-black;

	.back-button{
		border-color: $os-lightgrey;
	}
	.tools-button {
		color: $os-black;
	}
	.context-button{
		border-color: $os-lightgrey;
	}
}

/* Project Nav */
.project-nav {
	position:fixed;
	top:0px;
	background-color: $os-lightgrey;
	.home-button{
		img {
			margin-top: -11px;
		}

	}
	.projects-button {
		color: $os-red;
	}
}