/* Navbar General*/
.nav-bar{
	width:97%;
	margin: 0 1.5%;
	height: 47px;
	* {	
		padding: 8px 0;
		cursor: pointer;
		img{
			padding:0;
			display:block;
			height: 31px;
			margin-left:auto;
			margin-right:auto;
		}
	}
	.button-left{
		// border-right: 1px solid $os-mediumgrey;
		text-align:center;
		display: block;
		float:left;
		height: 31px;
		width: 9.125%;
		padding-left: 1.5%;
		padding-right: 1.5%;
		&:active{
			background-color: $os-mediumgrey;
		}
	}
	.button-center{
		font-family: $os-sans;
		font-size: $nav-head;
		text-decoration:none;
		text-transform: lowercase;
		display: block;
		float: left;
		height:31px;
		line-height: 31px;
		padding-left: 1.5%;
		padding-right: 1.5%;
		&:active{
			background-color: $os-mediumgrey;
		}

	}
	.button-right{
		// border-left: 1px solid $os-mediumgrey;
		text-align:center;
		display: block;
		float: right;
		height: 31px;
		width: 9.125%;
		padding-right: 1.5%;
		padding-left: 1.5%;
		&:active{
			background-color: $os-mediumgrey;
		}
	}
	.active {
		background-image: url(../images/active.png);
		background-repeat: no-repeat;
		background-position: 50% 100%;
		background-color: $os-lightgrey;
	}
}

/* Tool Nav */
.tool-nav{
	position:fixed;
	height: 46px;
	top:47px;
	border-top: 1px solid $os-mediumgrey;
	border-left: none;
	border-right: none;
	background-color: $os-lightgrey;
	color: $os-lightgrey;

	.back-button{
		height: 30px;
		img{
			padding: 8px 0;
			height: 15px;
		}
	}
	.tools-button {
		height: 30px;
		color: $os-black;
	}
	.context-button{
		height: 30px;
		img {
			padding: 8px 0;
			height: 15px;
		}
	}
}

/* Project Nav */
.project-nav {
	position:fixed;
	top:0px;
	background-color: $os-lightgrey;
	.home-button{
		img {
			margin-top: -2px;
		}

	}
	.projects-button {
		color: $os-red;
	}
	.search-button {
	}

}