.search {
	padding-top: 47px;
}
.search-nav{
	opacity: .9;
	margin: 0 1.5%;
	position: fixed;
	top: 47px;
	input[type=text]{
		@include rounded(2px);
		width: 86.375%;
		padding: 7px 0 8px 13.625%;
		height: 31px;
		font-family: $os-sans;
		color: $os-black;
		border: none;
		background-color: $os-mediumgrey;
	}
}