.search {
	padding-top: 47px;
}
.search-nav{
	border-top: 1px solid $os-grey;
	position: fixed;
	top: 47px;
	background-color: $os-mediumblack;
	width: 97%;
	padding: 7px 1.5% 8px 1.5%;
	height: 31px;
	input[type=text]{
		font-family: $os-sans;
		font-style:italic;
		color: $os-lightgrey;
		border: none;
		width: 97%;
		padding: 8px 1.5% 4px 1.5%;
		margin-bottom: 4px;
		height: 15px;
		background-color: $os-mediumblack;
	}
}