.tool{
	margin-top:47px;
	width: 100%;
	ul{
		margin:0;
		padding:0;
		li {
			padding:0;
			margin:0;
			list-style-type:none;
		}
	}
	.context-menu {
		top: 93px;
		z-index: 1;
		position: fixed;
		width: 97%;
		@include rounded(2px);
		@include shadow(1px, 2px);
		overflow: hidden;
		margin: 0 1.5%;
		margin-top: 1px;
		padding: 0;
		opacity: .95 ;
		background-color: $os-mediumblack;
		display: none;
		li {
			text-align: center;
			a{	
				display: block;
				height: 31px;
				line-height: 31px;
				text-decoration: none;
				color: $os-lightgrey;
				border-right: 1px solid $os-black;
			}
			width: 25%;
			padding: 8px 0;
			height: 31px;
			float: left;
		}
	}

	.tool-elem{
		cursor:pointer;
		padding: 8px 0;
		display:block;
		background-color:$os-white;
		.elem-image {
			height:31px;
			text-align:center;
			display: block;
			float:left;
			height: 31px;
			width: 9.125%;
			padding-left: 3%;
			padding-right: 1.5%;
		}
		.elem-desc{
			font-family: $os-serif;
			font-size: $nav-head;
			text-decoration:none;
			display: block;
			float: left;
			height:31px;
			padding-left: 1.5%;
			padding-right: 1.5%;
		}
		a {
			display:block;
			overflow:hidden;
			height:31px;
			color: $os-black;
			text-decoration:none;
			&:active{
				color: $os-darkred;
				background-color: $os-red;
			}
			&:hover{
				color: $os-darkred;
			}
			.project-due-date{
				padding:4px 8px;
				margin: 2px 1.5% 2px 0px;
				font-family: $os-sans;
				color: $os-darkgrey;
				font-size: .5em;
			}
		}
	}

}