.tools{
	@include rounded(2px);
	padding: 0;
	margin: 0 1.5%;
	ul {
		list-style-type: none;
		margin: 0;
		padding:0;
		border: none;
	}
	li{
		text-transform: lowercase;
		height: 31px;
		line-height:31px;
		padding: 8px 0 8px 13.625%;
		font-family: $os-sans;
		font-size: $nav-head;
		cursor: pointer;
	}
}