.tools{
	width: 100%;
	ul {
		list-style-type: none;
		margin: 0;
		padding:0;
		border: none;
	}
	li{
		text-transform: lowercase;
		height: 31px;
		line-height:31px;
		padding: 8px 0 8px 15.125%;
		font-family: $os-sans;
		font-size: $nav-head;
		cursor: pointer;
	}
}