---
title: Onesparks Jasmine Spec Runner
stylesheets: [jasmine]
---
<% content_for :pre_init do%>
  <style type="text/css">
    #hiddenApp {display:none !important;}
  </style>
  <div id="hiddenApp">
<% end %>
<% content_for :pre_init_js do %>
  App.rootElement = "#hiddenApp";
<% end%>

  <%= javascript_include_tag  "specs.js" %>

  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
</body>
</html>
